html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: wheat;
}

nav li {
    list-style: none;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    position: fixed;
    z-index: 999;
}

.navLi {
    display: flex;
    margin: auto;
}

.navLi li {
    padding: 5px 14px;
    margin-right: 2em;
    font-size: 18px;
}

.navLi li a:hover {
    color: #2ddbe1;
    font-weight: 500;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 9px;
    color: wheat;
    position: absolute;
    top: 27%;
    right: 4%;
}

.icon:hover {
    color: #2ddbe1;
    cursor: pointer;
    width: 26px;
}

.dropdown-menulogin,
.dropdown-menu {
    display: none;
    position: absolute;
    top: 74%;
    right: 3%;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/*dropdown-menu*/
.user-icon:hover .active {
    display: block;
}

.dropdown-menulogin li,
.dropdown-menu li {
    margin: 0;
    padding: 8px 16px;
}

.dropdown-menulogin li:hover,
.dropdown-menu li:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menulogin li a,
.dropdown-menu li a {
    color: #333;
    text-decoration: none;
}

/* Home */
#home {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-content: center;
    padding-left: 2%;
    margin-left: 2%;
}

.mainimg {
    width: 50%;
    margin-right: 2%;
    margin-top: 7%;
}

.maintext,
.online {
    margin-top: 22%;
    font-family: 'Zen Dots';
    font-size: 70px;
    margin-left: 5%;
    color: #2ddbe1;
}

.online {
    color: wheat;
}

.statistics {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-content: center;
    justify-content: space-between;
    padding-left: 2%;
    margin: auto;
    height: 16%;
    padding-top: 5%;
}

.state {
    display: flex;
    flex-direction: row;
    width: 22%;
    height: 100%;
    background-color: black;
    margin: 12px;
    padding: 1%;
    border-radius: 3px;
}

.stateimg {
    width: 50%;
    height: 130px;
    color: #2ddbe1;
}

.num {
    font-family: 'Zen Dots';
    font-size: 35px;
    margin-top: 11%;
    margin-left: 8%;
    color: wheat;
}

.numtext {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}

/*scroll bar*/

/* Target the scrollbar track */
/* For WebKit browsers */
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: wheat;
    /* Change the color of the scrollbar thumb */
    border-radius: 10px;
    /* Add rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2ddbe1;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the scrollbar track to be transparent */
}

/*About*/
#About {
    display: flex;
    flex-direction: row;
    width: 87%;
    padding-left: 2.75%;
    margin: auto;
    padding-top: 7%;
}

.aboutimg {
    width: 30%;
}

.txt {
    display: flex;
    flex-direction: column;
}

.abouttitle {
    margin-top: 7%;
    font-family: 'Zen Dots';
    font-size: 30px;
    margin-left: 33%;
    color: #2ddbe1;
    margin-bottom: 2%;
}

.abouttxt {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    margin-left: 20%;
}

/*Courses*/
#courses {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}

.coursesTitle {
    font-family: 'Zen Dots';
    font-size: 30px;
    color: #2ddbe1;
    margin: auto;
    margin-bottom: 3%;
}

.coursesTitle2 {
    font-family: 'Zen Dots';
    font-size: 30px;
    color: wheat;
    margin: auto;
    margin-bottom: 3%;
}

.card-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    height: 400px;
    overflow: hidden;
    margin-left: 2%;
    width: 90%;
}

.card-wrapper {
    display: flex;
    position: absolute;
    width: calc(320px * 6);
    transition: transform 0.3s ease;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    padding: 20px;
    margin: 0 10px;
    width: 300px;
    height: 400px;
    border-radius: 6px;
}

.card img {
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
}

.btn {
    position: absolute;
    top: 220%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: wheat;
    font-size: 64px;
    cursor: pointer;
    z-index: 1;
}

.btn:hover {
    color: #2ddbe1;
}

.prev-btn {
    left: 4%;
}

.next-btn {
    right: 8%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.card img:hover,
.card-info:hover {
    cursor: pointer;
}

/* teachers */
#teachers {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
}

#teachers .btn {
    top: 300%;
}

#teachers .card {
    padding: 0;
    background-color: black;
}

#teachers .card h2 {
    color: wheat;
}

#teachers .card h2:hover {
    color: #2ddbe1;
}

#teachers .card img {
    height: 85%;
}

.social-icons {
    position: absolute;
    top: 44%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 60px;
    background-color: rgba(245, 222, 179, 0.363);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.social-icons a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
}

.card:hover .social-icons {
    opacity: 1;
    width: 80px;
}

/*Reviews*/
#reviews {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

#reviews .btn {
    top: 395%;
}

.person-rating {
    position: absolute;
    bottom: 0;
    left: 15px;
    display: flex;
    align-items: center;
}

.person-rating img {
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.personcomment {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person-rating p {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.star-rating svg {
    height: 16px;
    width: 16px;
    fill: yellow;
    margin-right: 5px;
}

#reviews .card-info {
    margin-bottom: 38%;
}


#reviews .card {
    height: 303px;
    position: relative;
}

/*contact*/
#contact {
    width: 80%;
    margin: auto;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
}

.contactus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.contactimg {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.form-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.name,
.emaillabel,
.phone,
.select-course {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Zen Dots';
    color: wheat;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    font-family: 'Zen Dots';
}

.contactus select {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
    color: rgb(116, 116, 116);
}

.contactus select option {
    color: black;
}

.submit {
    padding: 10px;
    background-color: #2ddbe1;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    font-family: 'Zen Dots';
    margin-top: 15px;
}

.submit:hover {
    background-color: #21a9ad;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
    flex-direction: column;
    margin-top: 4%;
}

.icons a {
    display: inline-block;
    margin-right: 10px;
}

.icons svg {
    width: 30px;
    height: 30px;
    fill: wheat;
}

.icons svg:hover {
    fill: #21a9ad;
}

.copyright {
    font-family: 'Zen Dots';
    color: wheat;
    padding-top: 6px;
}